*.iml
*.zip
.idea
.gradle
/app/src/main/assets/databases/tangshi.db.zip
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/tools/TSCharacters.txt
/tools/java.txt
